/* app css stylesheet */

@font-face {
  font-family: "A Song for Jennifer";
  src: url('assets/fonts/a song for jennifer.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "A Song for Jennifer";
  src: url('assets/fonts/a song for jennifer bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "BlackBoard";
  src: url('assets/fonts/BlackBoard.ttf');
  font-weight: normal;
}

body {
  background: url("components/table/pool_table.png");
  color: #f4f4f0 !important;
  font-family: 'A Song for Jennifer' !important;
  font-size: 22px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BlackBoard' !important;
}

a[ng-click] {
  cursor: pointer;
}

.single-line-text {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
*/

.game-name {
  text-align: center;
  font-size: 4em;
}

.game-name a,
.game-name a:hover,
.game-name a:focus {
  color: inherit;
  text-decoration: none;
}

.arrow {
  max-width: 100%;
  max-height: 100px;
  margin-top: 1.5em;
}

.left-arrow-container {
  text-align: right;
}

.left-arrow {
  transform: rotate(105deg);
}

.right-arrow-container {
  text-align: left;
}

.right-arrow {
  transform: scaleY(-1) rotate(-75deg);
}

.showcase-cards .showcase-cards-title {
  text-align: center;
}

.showcase-cards .cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.instructions-container {
  text-align: center;
  font-size: .7em;
}

.card {
  cursor: default;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 225px;
  display: inline-block;
  border: rgba(50, 50, 50, 0.77) 1px solid;
  background-image: url("components/card/paper.png");
  color: #333;
  font-family: Calibri, sans-serif;
  font-size: .8em;
  position: relative;
}

.card .card-basic-info {
  position: relative;
  border: 1px solid #c0c0c0;
  background: #efefef;
}

.card .property-title {
  display: block;
  margin: 0;
  margin-top: -7px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: lighter;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1;
}

.card .property-value {
  font-weight: bold;
}

.card .infos {
  min-height: 65px;
}

.card .infos li,
.card .properties li {
  list-style: none;
  font-size: 0.9em;
  margin: 5px 0;
}

.card .properties li,
.card.read-only .properties li:hover,
.card.read-only .properties li:focus {
  box-shadow: 0 3px 0 #1e3277;
  background: #4258a2;
  border-radius: 5px;
}

.card .properties li:hover,
.card .properties li:focus {
  box-shadow: 0 3px 0 #1e3277;
  background: #253879;
}

.card .properties li.active,
.card.read-only .properties li.active:hover,
.card.read-only .properties li.active:focus {
  box-shadow: 0 3px 0 #771e32;
  background: #a24258;
}

.card .properties li.active:hover,
.card .properties li.active:focus {
  box-shadow: 0 3px 0 #771e32;
  background: #792538;
}

.card .properties,
.card .infos {
  padding: 0;
}

.card .properties li a {
  text-decoration: none;
}

.card .properties .item {
  padding: 2.5px 5px;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

.card .properties .property-title {
  color: #fff;
}

.card .capital-name {
  position: absolute;
  font-weight: bold;
  font-size: 2em;
  color: #000;
  bottom: 0;
  left: 5px;
  text-shadow: 0 0 4px #666;
  z-index: 1;
  line-height: 1;

  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
}

.card .country-flag {
  max-width: 100px;
  max-height: 50%;
  position: absolute;
}

.card .country-map {
  max-width: 100%;
  margin: 0 auto;
  max-height: 70px;
  display: block;
}

.card .editable.country-name-property {
  border: 1px solid gray;
  border-radius: 0;
  padding: 5px;
  background: white;
}

.card .country-names-select {
  max-width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
}

#game-page {}

#game-page .instructions {
  background: rgba(0, 0, 0, .6);
  padding: 1em;
  border-radius: 5px;
  background-image: url('assets/img/chalkboard_background_72ppi.png');
  border: 2px #14714d solid;
}

#game-page .instructions h1 {
  margin: 0;
}

#game-page .instructions p {
  margin-bottom: 0;
}

#game-page .players {
  text-align: center;
}

#game-page .players .player {
  cursor: default;
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background: #a24258;
  border-radius: 5px;
}

#game-page .players .player.active {
  border-bottom: 3px solid #771e32;
}

#game-page .cards-count-container {
  position: relative;
  display: inline-block;
}

#game-page .cards-count {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#game-page .player-username {
  margin-top: -10px;
}

#game-page .player-username small {
  font-style: italic;
}

#game-page .my-hand .selectable .card {
  cursor: pointer;
  transition: box-shadow .3s linear, transform .3s linear;
}

#game-page .my-hand .selectable .card:hover {
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  transform: translate(-5px, -5px);
}