/* app css stylesheet */

@font-face {
  font-family: "A Song for Jennifer";
  src: url('assets/fonts/a song for jennifer.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "A Song for Jennifer";
  src: url('assets/fonts/a song for jennifer bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "BlackBoard";
  src: url('assets/fonts/BlackBoard.ttf');
  font-weight: normal;
}

body {
  background: url("components/table/pool_table.png");
  color: #f4f4f0 !important;
  font-family: 'A Song for Jennifer' !important;
  font-size: 22px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BlackBoard' !important;
}

a[ng-click] {
  cursor: pointer;
}

.game-name {
  text-align: center;
  font-size: 4em;
}

.game-name a,
.game-name a:hover,
.game-name a:focus {
  color: inherit;
  text-decoration: none;
}

.arrow {
  max-width: 100%;
  max-height: 100px;
  margin-top: 1.5em;
}

.left-arrow-container {
  text-align: right;
}

.left-arrow {
  transform: rotate(105deg);
}

.right-arrow-container {
  text-align: left;
}

.right-arrow {
  transform: scaleY(-1) rotate(-75deg);
}

.instructions-container {
  text-align: center;
  font-size: .7em;
}

.card {
  cursor: default;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  display: inline-block;
  border: rgba(50, 50, 50, 0.77) 1px solid;
  background-image: url("components/card/bg.png");
  color: #333;
  font-family: Calibri, sans-serif;
  font-size: .8em;
}

.card .card-basic-info {
  position: relative;
  border: 1px solid #c0c0c0;
  background: #efefef;
}

.card .infos {
  min-height: 93px;
}

.card .infos li,
.card .properties li {
  list-style: none;
  font-size: 0.9em;
  margin: 5px 0;
  border-radius: 5px;
}

.card .properties li {
  box-shadow: 0 3px 0 #1e3277;
  background: #4258a2;
}

.card .properties li:hover {
  box-shadow: 0 3px 0 #1e3277;
  background: #253879;
}

.card .properties li.active {
  box-shadow: 0 3px 0 #771e32;
  background: #a24258;
}

.card .properties li.active:hover {
  box-shadow: 0 3px 0 #771e32;
  background: #792538;
}

.card .properties,
.card .infos {
  padding: 0 0 0 0px;
}

.card .properties li {
}

.card .properties li a {
  text-decoration: none;
}

.card .properties .item {
  padding: 5px;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

.card .infos li span,
.card .properties .value {
  font-weight: bold;
}

.card .properties .property {
  display: inline-block;
  text-align: left;
}

.card .properties .value {
  display: inline-block;
  float: right;
}

.card .country-name {
  position: absolute;
  font-weight: bold;
  font-size: 2em;
  color: #000;
  bottom: 0;
  left: 5px;
  text-shadow: 0 0 4px #666;
  z-index: 1;
  line-height: 1;
}

.card .country-flag {
  max-width: 100px;
  max-height: 50%;
  position: absolute;
}

.card .country-map {
  max-width: 100%;
  margin: 0 auto;
  max-height: 70px;
  display: block;
}

.card .country-names-select {
  max-width: 100%;
}

#game-page {}

#game-page .instructions {
  background: rgba(0, 0, 0, .6);
  padding: 1em;
  border-radius: 5px;
}

#game-page .instructions h1 {
  margin: 0;
}

#game-page .instructions p {
  margin-bottom: 0;
}

#game-page .other-players {
  position: relative;
  display: inline-block;
  text-align: center;
}

#game-page .cards-count-container {
  position: relative;
  display: inline-block;
}

#game-page .cards-count {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#game-page .player-username {
  margin-top: -10px;
}

#game-page .my-hand .selectable .card {
  cursor: pointer;
  transition: box-shadow .3s linear, transform .3s linear;
}

#game-page .my-hand .selectable .card:hover {
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
  transform: translate(-5px, -5px);
}